html:has(meta[content*="Jewish sparks"]) .sPromo-flex{
    flex:1 1 230px !important;
    max-width:230px !important;
    border:none !important;
    margin-bottom:100px !important;
}

html:has(meta[content*="Jewish sparks"]) .sPromo-wrap{
    overflow: visible !important;
}

html:has(meta[content*="Jewish sparks"]) .section_root div#ContentBody .content-area-parent{
    padding-bottom:50px !important;
}
html:has(meta[content*="Jewish sparks"]) .sPromo-wrap .caption{
    bottom:-50px !important;
    overflow: revert !important;
    background:none !important;
    white-space:normal !important;
}

