/*hero image mobile*/

   @media screen and (max-width: 700px) {
    html:has(meta[content*="Jewish Sparks"]).chabad_header img{
    background-image: 
   url("https://jewishsxm.com/media/images/1348/xmLJ13489345.jpg");
   background-size:100% 100%;
   }
}


html:has(meta[content*="Jewish Sparks"]).chabad_header img{
    object-fit:initial !important;
}

/*remove navigation bar*/
html:has(meta[content*="Jewish Sparks"]) div#chabad_head .chabad_navigator_bar{
    display:none !important
}

html:has(meta[content*="Jewish Sparks"]) .sPromo-flex{
    flex:1 1 230px !important;
    max-width:230px !important;
    border:none !important;
    margin-bottom:100px !important;
}
html:has(meta[content*="Jewish Sparks"]) .sPromo-flex img{
    width:30% !important;
}

html:has(meta[content*="Jewish Sparks"]) .sPromo-wrap{
    overflow: visible !important;
    display:flex !important;
    justify-content:center !important;
}

html:has(meta[content*="Jewish Sparks"]) .section_root div#ContentBody .content-area-parent{
    padding-bottom:50px !important;
    background-image:url("https://jewishsxm.com/media/images/1348/CCxQ13485425.jpg");
    border-radius:70px !important;
}

/*no background behind message*/
html:has(meta[content*="Jewish Sparks"]) #ContentBody > div.content-area-parent.no_margin > div:nth-child(2) > div.message{
    background:#fff !important;
    margin-top:-30px !important;
}

/*button smaller*/
html:has(meta[content*="Jewish Sparks"]) .buttonbooktour img{
    width:50% !important;
}
html:has(meta[content*="Jewish Sparks"]) .sPromo-wrap .caption{
    bottom:-50px !important;
    overflow: revert !important;
    background:none !important;
    white-space:normal !important;
}
/*take away hover on mini promo*/
html:has(meta[content*="Jewish Sparks"]) .sPromo-wrap:hover img{
    opacity:1 !important;
}
/*mini promo images smaller*/
html:has(meta[content*="Jewish Sparks"]).message img{
    max-width:30% !important;
}
/*remove a line*/
html:has(meta[content*="Jewish sparks"]) .large_banner{
    border:none !important;
}

/*change footer message*/    
html:has(meta[content*="Jewish Sparks"]) .poweredby.large_bottom_margin::before
{
        content:"Jewish Sparks Tour – Discover the Islands’ Hidden Jewish Sparks" !important;
        visibility: visible !important;
        position:absolute !important;
        top:10px !important;
        left:-50px !important;
        width:max-content !important;

      }
      html:has(meta[content*="Jewish Sparks"]) .poweredby.large_bottom_margin::after
      {
        content:"Chabad of S. Maarten +14754149688 tours@jewishsparks.com" !important;
        visibility: visible !important;
        position:absolute !important;
        top:40px !important;
        left:-40px !important;
        width:max-content !important;
      }
      html:has(meta[content*="Jewish Sparks"])   .poweredby.large_bottom_margin
{
        visibility:hidden !important;
        position:relative !important;
      }

      html:has(meta[content*="Jewish Sparks"]) .footer{
        display:flex !important;
        justify-content: center !important;
      }
