html:has(meta[content*="Jewish sparks"]) .sPromo-flex{
    flex:1 1 230px !important;
    max-width:230px !important;
    border:none !important;
    margin-bottom:100px !important;
}
html:has(meta[content*="Jewish sparks"]) .sPromo-flex img{
    width:30% !important;
}

html:has(meta[content*="Jewish sparks"]) .sPromo-wrap{
    overflow: visible !important;
    display:flex !important;
    justify-content:center !important
}

html:has(meta[content*="Jewish sparks"]) .section_root div#ContentBody .content-area-parent{
    padding-bottom:50px !important;
    background-image:url("https://jewishsxm.com/media/images/1348/CCxQ13485425.jpg");
}

html:has(meta[content*="Jewish sparks"]) #ContentBody > div.content-area-parent.no_margin > div:nth-child(2){
    background:#fff !important;
}
html:has(meta[content*="Jewish sparks"]) .sPromo-wrap .caption{
    bottom:-50px !important;
    overflow: revert !important;
    background:none !important;
    white-space:normal !important;
}

html:has(meta[content*="Jewish sparks"]).message img{
    max-width:30% !important;
}

